{% extends 'main/base.html' %}
{% load static %}


{% block content %}
    <!-- BreadCrumb Starts -->  
    <section class="breadcrumb-main pb-0 pt-20" style="background-image: url(../../static/webapp/images/bg/bg2.jpg);">
        <div class="breadcrumb-outer">
            <div class="container">
                <div class="breadcrumb-content d-md-flex align-items-center pt-6">
                    <h1 class="mb-0">About Us</h1>
                    <nav aria-label="breadcrumb">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">About Us</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="dot-overlay"></div>
    </section>
    <!-- BreadCrumb Ends --> 


    <!-- about-us starts -->
    <section class="about-us pb-6">
        <div class="container">
            <div class="about-image-box">
                <div class="row d-flex align-items-center justify-content-between text-lg-start text-center">
                    <div class="col-lg-7 col-sm-12 mb-4">
                        <div class="about-content">
                            <h4 class="theme d-inline-block">About Us</h4>
                            <h2 class="border-b mb-2 pb-2">The Leading Real Estate Rental Marketplace.</h2>
                            <p class="border-b mb-2 pb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat <br><br>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            <div class="about-listing">
                                <ul class="d-flex justify-content-between">
                                    <li><i class="fa fa-building theme"></i> Smart Home Design</li>
                                    <li><i class="fa fa-building theme"></i> Beautiful Scene Around</li>
                                    <li><i class="fa fa-building theme"></i> Complete 24/7 Security</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-sm-12 mb-4">
                        <div class="about-image p-3 box-shadow position-relative">
                            <img src="{% static 'webapp/images/destination/destination3.jpg' %}" alt="" class="w-100">
                            <div class="video-button text-center">
                                 <div class="call-button text-center">
                                    <button type="button" class="play-btn js-video-button" data-video-id="152879427" data-channel="vimeo">
                                        <i class="fa fa-play bg-blue"></i>
                                    </button>
                                </div>
                                <div class="video-figure"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </section>
    <!-- about-us ends -->

    <!-- about-us starts -->
    <section class="about-us bg-white pb-6 pt-0">
        <div class="container">

            <!-- why us starts -->
            <div class="why-us">
                <div class="why-us-box">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
                            <div class="why-us-item text-center bg-lgrey">
                                <div class="why-us-icon">
                                    <i class="flaticon-call theme"></i>
                                </div>
                                <div class="why-us-content">
                                    <h4><a href="services-detail.html">Trusted By Thousands</a></h4>
                                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
                            <div class="why-us-item text-center bg-lgrey">
                                <div class="why-us-icon">
                                    <i class="flaticon-global theme"></i>
                                </div>
                                <div class="why-us-content">
                                    <h4><a href="services-detail.html">Wide Renge Properties</a></h4>
                                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
                            <div class="why-us-item text-center bg-lgrey">
                                <div class="why-us-icon">
                                    <i class="flaticon-building theme"></i>
                                </div>
                                <div class="why-us-content">
                                    <h4><a href="services-detail.html">Financing Made Easy</a></h4>
                                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
                            <div class="why-us-item text-center bg-lgrey">
                                <div class="why-us-icon">
                                    <i class="flaticon-location-pin theme"></i>
                                </div>
                                <div class="why-us-content">
                                    <h4><a href="services-detail.html">We are here near you</a></h4>
                                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- why us ends -->
        </div>
    </section>
    <!-- about-us ends -->

    <!-- Counter -->
    <section class="counter-main pt-0">
        <div class="container">
            <div class="counter text-center bg-lgrey p-5 pb-1 border">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                        <div class="counter-item d-flex align-items-center text-start border-end px-4">
                            <i class="fa fa-users theme2 me-4"></i>
                            <div class="counter-content">
                                <h3 class="value mb-0">560</h3>
                                <span class="m-0">Total Area Square</span>
                            </div>
                        </div>    
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                        <div class="counter-item d-flex align-items-center text-start border-end px-4">
                            <i class="fa fa-plane theme2 me-4"></i>
                            <div class="counter-content">
                                <h3 class="value mb-0">530</h3>
                                <span class="m-0">Apartments Sold</span>
                            </div>
                        </div>    
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                        <div class="counter-item d-flex align-items-center text-start border-end px-4">
                            <i class="fa fa-chart-bar theme2 me-4"></i>
                            <div class="counter-content">
                                <h3 class="value mb-0">624</h3>
                                <span class="m-0">Total Constructions</span>
                            </div>
                        </div>    
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                        <div class="counter-item d-flex align-items-center text-start px-4">
                            <i class="fa fa-support theme2 me-4"></i>
                            <div class="counter-content">
                                <h3 class="value mb-0">340</h3>
                                <span class="m-0">Apartio Rooms</span>
                            </div>
                        </div>    
                    </div>

                </div>
            </div> 
        </div>
    </section>
    <!-- End Counter -->

    <!-- Discount action starts -->
    <section class="discount-action bg-grey">
        <div class="container">
            <div class="call-banner" style="background-image: url(../../static/webapp/images/bg/bg1.jpg);">
                <div class="row d-flex align-items-center">
                    <div class="col-lg-6 col-md-8 p-0">
                        <div class="call-banner-inner bg-theme1">
                            <div class="trend-content-main">
                                <div class="trend-content p-5">
                                    <h5 class="mb-1 white">Wanna to Sell Or Rent??</h5>
                                    <h2 class="mb-4 white">Looking to Buy a New Property or Sell an Existing One?</h2>
                                    <div class="section-btns d-flex align-items-center">
                                        <a href="grid-leftfilter.html" class="nir-btn me-4">Rent Properties <i class="fa fa-arrow-right white pl-1"></i></a>
                                        <a href="grid-rightfilter.html" class="nir-btn">Buy Properties <i class="fa fa-arrow-right white pl-1"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>  
                    <div class="col-lg-6 col-md-4 p-0"></div> 
                </div> 
            </div> 
            <div class="partner-wrapper bg-white p-4">
                <ul class="attract-slider">
                    <li class="px-3"><img src="{% static 'webapp/images/cl-1.png' %}" alt=""></li>
                    <li class="px-3"><img src="{% static 'webapp/images/cl-2.png' %}" alt=""></li>
                    <li class="px-3"><img src="{% static 'webapp/images/cl-3.png' %}" alt=""></li>
                    <li class="px-3"><img src="{% static 'webapp/images/cl-4.png' %}" alt=""></li>
                    <li class="px-3"><img src="{% static 'webapp/images/cl-5.png' %}" alt=""></li>
                    <li class="px-3"><img src="{% static 'webapp/images/cl-3.png' %}" alt=""></li>
                    <li class="px-3"><img src="{% static 'webapp/images/cl-4.png' %}" alt=""></li>
                    <li class="px-3"><img src="{% static 'webapp/images/cl-5.png' %}" alt=""></li>
                </ul>
            </div>    
        </div>    
    </section>
    <!-- Discount action Ends -->

    <!-- our teams starts -->
    <section class="our-team" style="background-image: url(../../static/webapp/images/shape-1.png);">
        <div class="container">
            <div class="section-title mb-6 pb-1 w-75 text-center mx-auto">
                <h2 class="m-0">Meet Our <span>Excellent Agents</span></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>   
            <div class="team-main">
                <div class="row shop-slider">
                    <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                        <div class="team-list">
                            <div class="team-image">
                                <img src="{% static 'webapp/images/team/img1.jpg' %}" alt="team">
                            </div>
                            <div class="team-content text-center p-3 bg-white">
                               <h4 class="mb-0">Salmon Thuir</h4>
                                <p class="mb-0">Senior Agent</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                        <div class="team-list">
                            <div class="team-image">
                                <img src="{% static 'webapp/images/team/img2.jpg' %}" alt="team">
                            </div>
                            <div class="team-content text-center p-3 bg-white">
                               <h4 class="mb-0">Horke Pels</h4>
                                <p class="mb-0">Head Officer</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                        <div class="team-list">
                            <div class="team-image">
                                <img src="{% static 'webapp/images/team/img4.jpg' %}" alt="team">
                            </div>
                            <div class="team-content text-center p-3 bg-white">
                               <h4 class="mb-0">Solden kalos</h4>
                                <p class="mb-0">Supervisor</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                        <div class="team-list">
                            <div class="team-image">
                                <img src="{% static 'webapp/images/team/img3.jpg' %}" alt="team">
                            </div>
                            <div class="team-content text-center p-3 bg-white">
                               <h4 class="mb-0">Nelson Bam</h4>
                                <p class="mb-0">Quality Assurance</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                        <div class="team-list">
                            <div class="team-image">
                                <img src="{% static 'webapp/images/team/img5.jpg' %}" alt="team">
                            </div>
                            <div class="team-content text-center bg-white p-3">
                               <h4 class="mb-0">Cacics Coold</h4>
                                <p class="mb-0">Asst. Chef</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- our teams Ends -->

    <!-- content-line start -->
    <div class="content-line">
        <div class="container">
            <div class="content-line-inner bg-theme2 pb-6 pt-6 p-5">
                <div class="row d-md-flex align-items-center justify-content-between text-lg-start text-center">
                    <div class="col-lg-9">
                        <h2 class="mb-0 white">
                            Looking for a dream home?
                        </h2>
                        <p class="white">We can help you realize your dream of a new home</p>
                    </div>
                    <div class="col-lg-3">
                        <a href="listing-leftfilter.html" class="nir-btn-black float-lg-end float-none">Fine More Properties</a>
                    </div>
                </div>
            </div>
        </div>   
    </div>
    <!-- content-line ends -->

    <!-- testomonial start -->
    <section class="testimonial pb-6">
        <div class="container"> 
            <div class="section-title mb-4 pb-1 w-75 mx-auto text-center">
                <h2 class="m-0">Good Reviews By <span>Clients</span></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div> 
            <div class="row review-slider">
                <div class="col-sm-4 item">
                    <div class="testimonial-item1 text-center">
                        <div class="details">
                            <p class="m-0">Lorem Ipsum is simply dummy text of the printing andypesetting industry. Lorem ipsum a simple Lorem Ipsum has been the industry's standard dummy hic et quidem. Dignissimos maxime velit unde inventore quasi vero dolorem.</p>
                        </div>
                        <div class="author-info mt-2">
                            <a href="#"><img src="{% static 'webapp/images/testimonial/img1.jpg' %}" alt=""></a>
                            <div class="author-title">
                                <h4 class="m-0 theme2">Jared Erondu</h4>
                                <span>Supervisor</span>
                            </div>
                        </div>
                        <i class="fa fa-quote-left mb-2"></i>
                    </div>
                </div>
                <div class="col-sm-4 item">
                    <div class="testimonial-item1 text-center">
                        <div class="details">
                            <p class="m-0">Lorem Ipsum is simply dummy text of the printing andypesetting industry. Lorem ipsum a simple Lorem  Ipsum has been the industry's standard dummy hic et quidem. Dignissimos maxime velit unde inventore quasi vero dolorem.</p>
                        </div>
                        <div class="author-info mt-2">
                            <a href="#"><img src="{% static 'webapp/images/testimonial/img2.jpg' %}" alt=""></a>
                            <div class="author-title">
                                <h4 class="m-0 theme2">Cadic Vegeta</h4>
                                <span>Sr. Consultant</span>
                            </div>
                        </div>
                        <i class="fa fa-quote-left mb-2"></i>
                    </div>
                </div>
                <div class="col-sm-4 item">
                    <div class="testimonial-item1 text-center">
                        <div class="details">
                            <p class="m-0">Lorem Ipsum is simply dummy text of the printing andypesetting industry. Lorem ipsum a simple Lorem Ipsum has been the industry's standard dummy hic et quidem. Dignissimos maxime velit unde inventore quasi vero dolorem.</p>
                        </div>
                        <div class="author-info mt-2">
                            <a href="#"><img src="{% static 'webapp/images/testimonial/img3.jpg' %}" alt=""></a>
                            <div class="author-title">
                                <h4 class="m-0 theme2">Jonathan Beri</h4>
                                <span>Sales Manager</span>
                            </div>
                        </div>
                        <i class="fa fa-quote-left mb-2"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- testimonial ends --> 

    <!-- Instagram starts -->
    <section class="insta-main pt-0">
        <div class="container">
            <div class="insta-inner">
            <div class="follow-button">
                <h5 class="m-0"><i class="fab fa-instagram"></i> Follow on Instagram</h5>
            </div>
            <div class="row attract-slider">
                <div class="col-md-3 col-sm-6">
                    <div class="insta-image">
                        <a href="gallery.html"><img src="{% static 'webapp/images/insta/ins-3.jpg' %}" alt="insta"></a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="insta-image">
                        <a href="gallery.html"><img src="{% static 'webapp/images/insta/ins-4.jpg' %}" alt="insta"></a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="insta-image">
                        <a href="gallery.html"><img src="{% static 'webapp/images/insta/ins-5.jpg' %}" alt="insta"></a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="insta-image">
                        <a href="gallery.html"><img src="{% static 'webapp/images/insta/ins-1.jpg' %}" alt="insta"></a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="insta-image">
                        <a href="gallery.html"><img src="{% static 'webapp/images/insta/ins-7.jpg' %}" alt="insta"></a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="insta-image">
                        <a href="gallery.html"><img src="{% static 'webapp/images/insta/ins-8.jpg' %}" alt="insta"></a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="insta-image">
                        <a href="gallery.html"><img src="{% static 'webapp/images/insta/ins-2.jpg' %}" alt="insta"></a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="insta-image">
                        <a href="gallery.html"><img src="{% static 'webapp/images/insta/ins-6.jpg' %}" alt="insta"></a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="insta-image">
                        <a href="gallery.html"><img src="{% static 'webapp/images/insta/ins-9.jpg' %}" alt="insta"></a>
                    </div>
                </div>
            </div>
            </div>    
        </div>
    </section>
    <!-- Instagram ends -->
{% endblock %}
