

    <!-- BreadCrumb Starts -->  
    <section class="breadcrumb-main pb-0 pt-20" style="background-image: url(../../../webapp/static/webapp/images/bg/bg2.jpg);">
        <div class="breadcrumb-outer">
            <div class="container">
                <div class="breadcrumb-content d-md-flex align-items-center pt-6">
                    <h1 class="mb-0">Detail Fullwidth</h1>
                    <nav aria-label="breadcrumb">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Detail Fullwidth</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="dot-overlay"></div>
    </section>
    <!-- BreadCrumb Ends --> 

    <div class="page-banner pt-10 pb-10">
        <div class="container">
            <div class="page-banner-in overflow-hidden">
                <div class="slider-store">
                    <div>
                        <img src="{% static 'webapp/images/trending/trending3.jpg' %}" alt="">
                    </div>
                    <div>
                        <img src="{% static 'webapp/images/trending/trending4.jpg'  %}" alt="">
                    </div>
                    <div>
                        <img src="{% static 'webapp/images/trending/trending5.jpg'  %}" alt="">
                    </div>
                    <div>
                        <img src="{% static 'webapp/images/trending/trending6.jpg'  %}" alt="">
                    </div>
                    <div>
                        <img src="{% static 'webapp/images/trending/trending7.jpg'  %}" alt="">
                    </div>
                    <div>
                        <img src="{% static 'webapp/images/trending/trending8.jpg'  %}" alt="">
                    </div>
                </div>
                <div class="slider-thumbs">
                    <div>
                        <img src="{% static 'webapp/images/trending/trending3.jpg'  %}" alt="">
                    </div>
                    <div>
                        <img src="{% static 'webapp/images/trending/trending4.jpg'  %}" alt="">
                    </div>
                    <div>
                        <img src="{% static 'webapp/images/trending/trending5.jpg'  %}" alt="">
                    </div>
                    <div>
                        <img src="{% static 'webapp/images/trending/trending6.jpg'  %}" alt="">
                    </div>
                    <div>
                        <img src="{% static 'webapp/images/trending/trending7.jpg'  %}" alt="">
                    </div>
                    <div>
                        <img src="{% static 'webapp/images/trending/trending8.jpg'  %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- blog starts -->
    <section class="blog bg-lgrey">
        <div class="container">
            <div class="detail-main">
                <div class="detail-maintitle border-b pb-4 mb-4">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-lg-8">
                            <ul class="detail-inline d-flex align-items-center mb-2">
                                <li class="detail-inline-item bg-theme1 px-4 py-1 white me-3">Featured</li>
                                <li class="detail-inline-item bg-theme px-4 py-1 white me-3">For Sale</li>
                                <li class="detail-inline-item"><i class="fa fa-clock me-1"></i>1 months ago
                                </li>
                            </ul>
                            <div class="detail-maintitle-in">
                                <h2 class="mb-1">Villa on Hollywood Boulevard</h2>
                                <p><i class="fa fa-map-marker-alt me-2"></i>398 Pete Pascale Pl, New York</p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="entry-price text-lg-end text-start">
                                <h3 class="mb-0"><span class="d-block theme fs-5 fw-normal">Start From</span> $63,000.00</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="blog-single">

                    <div class="blog-wrapper">

                        <div class="blog-content first-child-cap">
                            <p class="mb-3">The property, complete with a 30-seat screening room, a 100-seat amphitheater and a swimming pond with sandy beach and outdoor shower, was asking about $40 million. Lorem ipsum dolor sit amet, consectetur adipis Vi ales elit vitae lo bortis faucibus. Lorem ipsum dolor sit amet, conse dolor sit amet, consectetu ctetur adipis Viales. Lorem ipsum dolor sit amet, cons sit amet, consectetur adi ectetur adipis Vi.</p>
                            <div class="position-relative mb-3">
                                <img src="{% static 'webapp/images/bg/bg3.jpg'  %}" alt="image">
                            </div>
                            <p class="mb-2">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.</p>
                        </div>

                        <div class="property-detail mb-4 bg-lgrey p-4 border">
                            <h4 class="border-b pb-2">Property Details</h4>
                            <div class="row">
                                <div class="col-lg">
                                    <ul class="pro-inline-item">
                                        <li class="d-block fw-bold lh-lg">Property ID : <span class="fw-normal float-end">HZ27</span></li>
                                        <li class="d-block fw-bold lh-lg">Price : <span class="fw-normal float-end">$130,000</span></li>
                                        <li class="d-block fw-bold lh-lg">Property Size : <span class="fw-normal float-end">1560 Sq Ft</span></li>
                                        <li class="d-block fw-bold lh-lg">Year Built : <span class="fw-normal float-end">2021-01-09</span></li>
                                    </ul>
                                </div>
                                <div class="col-lg">
                                    <ul class="pro-inline-item">
                                        <li class="d-block fw-bold lh-lg">Bedrooms  : <span class="fw-normal float-end">4</span></li>
                                        <li class="d-block fw-bold lh-lg">Bathrooms  : <span class="fw-normal float-end">4</span></li>
                                        <li class="d-block fw-bold lh-lg">Garage  : <span class="fw-normal float-end">Yes</span></li>
                                        <li class="d-block fw-bold lh-lg">Parking : <span class="fw-normal float-end">Yes</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="property-detail mb-4 bg-grey p-4">
                            <h4 class="border-bottom pb-2">Offices Amenities</h4>
                            <div class="row">
                                <div class="col-lg">
                                    <ul class="pro-inline-item">
                                        <li class="d-block lh-lg"><i class="fa fa-check theme"></i> Balcony</li>
                                        <li class="d-block lh-lg"><i class="fa fa-check theme"></i> Air Conditioning</li>
                                        <li class="d-block lh-lg"><i class="fa fa-check theme"></i> Fireplace</li>
                                        <li class="d-block lh-lg"><i class="fa fa-check theme"></i> Dining room</li>
                                    </ul>
                                </div>
                                <div class="col-lg">
                                    <ul class="pro-inline-item">
                                        <li class="d-block lh-lg"><i class="fa fa-check theme"></i> Basement</li>
                                        <li class="d-block lh-lg"><i class="fa fa-check theme"></i> Cooling</li>
                                        <li class="d-block lh-lg"><i class="fa fa-check theme"></i> Lawn</li>
                                        <li class="d-block lh-lg"><i class="fa fa-check theme"></i> Dishwasher</li>
                                    </ul>
                                </div>
                                <div class="col-lg">
                                    <ul class="pro-inline-item">
                                        <li class="d-block lh-lg"><i class="fa fa-check theme"></i> Microwave</li>
                                        <li class="d-block lh-lg"><i class="fa fa-check theme"></i> TV Cable</li>
                                        <li class="d-block lh-lg"><i class="fa fa-check theme"></i> WiFi</li>
                                        <li class="d-block lh-lg"><i class="fa fa-check theme"></i> Refrigerator</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="blog-imagelist mb-4">
                            <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <img src="{% static 'webapp/images/trending/trending4.jpg'  %}" alt="image">
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <img src="{% static 'webapp/images/trending/trending2.jpg'  %}" alt="image">
                            </div>
                            </div>
                        </div>    

                        <p class="mb-4">as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.</p>

                        <!-- blog share -->
                        <div class="blog-share d-flex justify-content-between align-items-center mb-4 bg-lgrey border">
                            <div class="blog-share-tag">
                                <ul class="inline">
                                    <li><strong>Posted In:</strong></li>    
                                    <li><a href="#">Fashion,</a></li>
                                    <li><a href="#">Beauty,</a></li>
                                    <li><a href="#">Vacation,</a></li>
                                    <li><a href="#">Travel,</a></li>
                                    <li><a href="#">News</a></li>
                                </ul>
                            </div>
                            <div class="header-social">
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>


                    <!-- blog comment list -->
                    <div class="single-comments single-box mb-4">
                        <h4 class="mb-4">Showing 16 verified guest comments</h4>
                        <div class="comment-box">
                            <div class="comment-image mt-2">
                                <img src="{% static 'webapp/images/reviewer/1.jpg'  %}" alt="image">
                            </div>
                            <div class="comment-content">
                                <h4 class="mb-1 Soldman Kell">Soldman Kell</h4>
                                <p class="comment-date">April 25, 2019 at 10:46 am</p>
                                <div class="comment-rate">
                                    <div class="rating mar-right-15">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                    </div>
                                    <span class="comment-title">"The worst hotel ever"</span>
                                </div>    
                                
                                <p class="comment">Take in the iconic skyline and visit the neighbourhood hangouts that you've only ever seen on TV. Take in the iconic skyline and visit the neighbourhood.</p>
                                <div class="comment-like">
                                    <div class="like-title float-left">
                                        <a href="#" class="nir-btn mr-2">Reply</a>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="comment-box">
                            <div class="comment-image mt-2">
                                <img src="{% static 'webapp/images/reviewer/2.jpg'  %}" alt="image">
                            </div>
                            <div class="comment-content">
                                <h4 class="mb-1">Burson Lesson</h4>
                                <p class="comment-date">April 25, 2019 at 10:46 am</p>
                                <div class="comment-rate">
                                    <div class="rating mar-right-15">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                    </div>
                                    <span class="comment-title">"Was too noisy and not suitable for business meetings"</span>
                                </div> 
                                
                                <p class="comment">Take in the iconic skyline and visit the neighbourhood hangouts that you've only ever seen on TV. Take in the iconic skyline and visit the neighbourhood.</p>
                                <div class="comment-like">
                                    <div class="like-title float-left">
                                        <a href="#" class="nir-btn">Reply</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="bigyapan mb-4">
                        <a href="#"><img src="{% static 'webapp/images/bigyapan1.jpg'  %}" alt=""></a>
                    </div>

                    <!-- blog review -->
                    <div class="single-add-review">
                        <h4 class="">Write a Review</h4>
                        <form>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group mb-2">
                                        <input type="text" placeholder="Name">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group mb-2">
                                        <input type="email" placeholder="Email">
                                    </div>
                                </div>
                                <div class="col-lg-12 mb-1">
                                    <div class="form-group">
                                        <textarea>Comment</textarea>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-btn">
                                        <a href="#" class="nir-btn">Submit Review</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- blog Ends -->  

    <!-- Discount action starts -->
    <section class="discount-action p-0">
        <div class="container">
            <div class="call-banner" style="background-image: url(../../../webapp/static/webapp/images/bg/bg1.jpg);">
                <div class="row d-flex align-items-center">
                    <div class="col-lg-6 col-md-8 p-0">
                        <div class="call-banner-inner bg-theme1">
                            <div class="trend-content-main">
                                <div class="trend-content p-5">
                                    <h5 class="mb-1 white">Wanna to Sell Or Rent??</h5>
                                    <h2 class="mb-4 white">Looking to Buy a New Property or Sell an Existing One?</h2>
                                    <div class="section-btns d-flex align-items-center">
                                        <a href="grid-leftfilter.html" class="nir-btn me-4">Rent Properties <i class="fa fa-arrow-right white pl-1"></i></a>
                                        <a href="grid-rightfilter.html" class="nir-btn">Buy Properties <i class="fa fa-arrow-right white pl-1"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>  
                    <div class="col-lg-6 col-md-4 p-0"></div> 
                </div> 
            </div> 
            <div class="partner-wrapper bg-grey p-4">
                <ul class="attract-slider">
                    <li class="px-3"><img src="{% static 'webapp/images/cl-1.png'  %}" alt=""></li>
                    <li class="px-3"><img src="{% static 'webapp/images/cl-2.png'  %}" alt=""></li>
                    <li class="px-3"><img src="{% static 'webapp/images/cl-3.png'  %}" alt=""></li>
                    <li class="px-3"><img src="{% static 'webapp/images/cl-4.png'  %}" alt=""></li>
                    <li class="px-3"><img src="{% static 'webapp/images/cl-5.png'  %}" alt=""></li>
                    <li class="px-3"><img src="{% static 'webapp/images/cl-3.png'  %}" alt=""></li>
                    <li class="px-3"><img src="{% static 'webapp/images/cl-4.png'  %}" alt=""></li>
                    <li class="px-3"><img src="{% static 'webapp/images/cl-5.png'  %}" alt=""></li>
                </ul>
            </div>    
        </div>    
    </section>
    <!-- Discount action Ends -->

    <!-- Instagram starts -->
    <section class="insta-main pt-0">
        <div class="container">
            <div class="insta-inner">
            <div class="follow-button">
                <h5 class="m-0"><i class="fab fa-instagram"></i> Follow on Instagram</h5>
            </div>
            <div class="row attract-slider">
                <div class="col-md-3 col-sm-6">
                    <div class="insta-image">
                        <a href="gallery.html"><img src="{% static 'webapp/images/insta/ins-3.jpg'  %}" alt="insta"></a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="insta-image">
                        <a href="gallery.html"><img src="{% static 'webapp/images/insta/ins-4.jpg'  %}" alt="insta"></a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="insta-image">
                        <a href="gallery.html"><img src="{% static 'webapp/images/insta/ins-5.jpg'  %}" alt="insta"></a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="insta-image">
                        <a href="gallery.html"><img src="{% static 'webapp/images/insta/ins-1.jpg'  %}" alt="insta"></a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="insta-image">
                        <a href="gallery.html"><img src="{% static 'webapp/images/insta/ins-7.jpg'  %}" alt="insta"></a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="insta-image">
                        <a href="gallery.html"><img src="{% static 'webapp/images/insta/ins-8.jpg'  %}" alt="insta"></a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="insta-image">
                        <a href="gallery.html"><img src="{% static 'webapp/images/insta/ins-2.jpg'  %}" alt="insta"></a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="insta-image">
                        <a href="gallery.html"><img src="{% static 'webapp/images/insta/ins-6.jpg'  %}" alt="insta"></a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="insta-image">
                        <a href="gallery.html"><img src="{% static 'webapp/images/insta/ins-9.jpg'  %}" alt="insta"></a>
                    </div>
                </div>
            </div>
            </div>    
        </div>
    </section>
    <!-- Instagram ends -->

    <!-- content-line start -->
    <div class="content-line m-0">
        <div class="content-line-inner bg-theme2 pb-6 pt-6 p-5">
            <div class="container">
                <div class="row d-md-flex align-items-center justify-content-between text-lg-start text-center">
                <div class="col-lg-9">
                    <h2 class="mb-0 white">
                        Looking for a dream home?
                    </h2>
                    <p class="white">We can help you realize your dream of a new home</p>
                </div>
                <div class="col-lg-3">
                    <a href="listing-leftfilter.html" class="nir-btn-black float-lg-end float-none">Fine More Properties</a>
                </div>
                </div>
            </div>
        </div>   
    </div>
    <!-- content-line ends -->
