{% extends 'main/base.html' %}
{% load static %}


{% block content %}

    <!-- BreadCrumb Starts -->  
    <section class="breadcrumb-main pb-0 pt-20" style="background-image: url(images/bg/bg2.jpg);">
        <div class="breadcrumb-outer">
            <div class="container">
                <div class="breadcrumb-content d-md-flex align-items-center pt-6">
                    <h1 class="mb-0">Gallery Two</h1>
                    <nav aria-label="breadcrumb">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Gallery Two</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="dot-overlay"></div>
    </section>
    <!-- BreadCrumb Ends --> 

    <!-- Gallery starts -->
    <div class="gallery pb-6 pt-10">
        <div class="container">
            <div class="row blog-main">
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mansonry-item">
                    <div class="gallery-item mb-4">
                        <div class="gallery-image">
                            <img src="{% static 'webapp/images/trending/trending3.jpg'  %}" alt="image">
                            <div class="overlay"></div>
                        </div>
                        <div class="gallery-content">
                            <ul>
                                <li><a href="images/trending/trending3.jpg'  %}" data-lightbox="gallery" data-title="Title"><i class="fa fa-eye"></i></a></li>
                                <li><a href="#"><i class="fa fa-link"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>  

                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mansonry-item">
                    <div class="gallery-item mb-4">
                        <div class="gallery-image">
                            <img src="{% static 'webapp/images/destination/destination10.jpg'  %}" alt="image">
                            <div class="overlay"></div>
                        </div>
                        <div class="gallery-content">
                            <ul>
                                <li><a href="images/trending/trending10.jpg'  %}" data-lightbox="gallery" data-title="Title"><i class="fa fa-eye"></i></a></li>
                                <li><a href="#"><i class="fa fa-link"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mansonry-item">
                    <div class="gallery-item mb-4">
                        <div class="gallery-image">
                            <img src="{% static 'webapp/images/trending/trending2.jpg'  %}" alt="image">
                            <div class="overlay"></div>
                        </div>
                        <div class="gallery-content">
                            <ul>
                                <li><a href="images/trending/trending2.jpg'  %}" data-lightbox="gallery" data-title="Title"><i class="fa fa-eye"></i></a></li>
                                <li><a href="#"><i class="fa fa-link"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mansonry-item">
                    <div class="gallery-item mb-4">
                        <div class="gallery-image">
                            <img src="{% static 'webapp/images/trending/trending4.jpg'  %}" alt="image">
                            <div class="overlay"></div>
                        </div>
                        <div class="gallery-content">
                            <ul>
                                <li><a href="images/trending/trending4.jpg'  %}" data-lightbox="gallery" data-title="Title"><i class="fa fa-eye"></i></a></li>
                                <li><a href="#"><i class="fa fa-link"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mansonry-item">
                    <div class="gallery-item mb-4">
                        <div class="gallery-image">
                            <img src="{% static 'webapp/images/trending/trending4.jpg'  %}" alt="image">
                            <div class="overlay"></div>
                        </div>
                        <div class="gallery-content">
                            <ul>
                                <li><a href="images/trending/trending4.jpg'  %}" data-lightbox="gallery" data-title="Title"><i class="fa fa-eye"></i></a></li>
                                <li><a href="#"><i class="fa fa-link"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mansonry-item">
                    <div class="gallery-item mb-4">
                        <div class="gallery-image">
                            <img src="{% static 'webapp/images/trending/trending6.jpg'  %}" alt="image">
                            <div class="overlay"></div>
                        </div>
                        <div class="gallery-content">
                            <ul>
                                <li><a href="images/trending/trending6.jpg'  %}" data-lightbox="gallery" data-title="Title"><i class="fa fa-eye"></i></a></li>
                                <li><a href="#"><i class="fa fa-link"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mansonry-item">
                    <div class="gallery-item mb-4">
                        <div class="gallery-image">
                            <img src="{% static 'webapp/images/destination/destination4.jpg'  %}" alt="image">
                            <div class="overlay"></div>
                        </div>
                        <div class="gallery-content">
                            <ul>
                                <li><a href="images/destination/destination4.jpg'  %}" data-lightbox="gallery" data-title="Title"><i class="fa fa-eye"></i></a></li>
                                <li><a href="#"><i class="fa fa-link"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>  
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mansonry-item">
                    <div class="gallery-item mb-4">
                        <div class="gallery-image">
                            <img src="{% static 'webapp/images/destination/destination3.jpg'  %}" alt="image">
                            <div class="overlay"></div>
                        </div>
                        <div class="gallery-content">
                            <ul>
                                <li><a href="images/destination/destination3.jpg'  %}" data-lightbox="gallery" data-title="Title"><i class="fa fa-eye"></i></a></li>
                                <li><a href="#"><i class="fa fa-link"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div> 

                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mansonry-item">
                    <div class="gallery-item mb-4">
                        <div class="gallery-image">
                            <img src="{% static 'webapp/images/trending/trending5.jpg'  %}" alt="image">
                            <div class="overlay"></div>
                        </div>
                        <div class="gallery-content">
                            <ul>
                                <li><a href="images/destination/destination5.jpg'  %}" data-lightbox="gallery" data-title="Title"><i class="fa fa-eye"></i></a></li>
                                <li><a href="#"><i class="fa fa-link"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
    <!-- Gallery Ends -->

    <!-- Discount action starts -->
    <section class="discount-action p-0">
        <div class="container">
            <div class="call-banner" style="background-image: url(images/bg/bg1.jpg);">
                <div class="row d-flex align-items-center">
                    <div class="col-lg-6 col-md-8 p-0">
                        <div class="call-banner-inner bg-theme1">
                            <div class="trend-content-main">
                                <div class="trend-content p-5">
                                    <h5 class="mb-1 white">Wanna to Sell Or Rent??</h5>
                                    <h2 class="mb-4 white">Looking to Buy a New Property or Sell an Existing One?</h2>
                                    <div class="section-btns d-flex align-items-center">
                                        <a href="grid-leftfilter.html" class="nir-btn me-4">Rent Properties <i class="fa fa-arrow-right white pl-1"></i></a>
                                        <a href="grid-rightfilter.html" class="nir-btn">Buy Properties <i class="fa fa-arrow-right white pl-1"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>  
                    <div class="col-lg-6 col-md-4 p-0"></div> 
                </div> 
            </div> 
            <div class="partner-wrapper bg-grey p-4">
                <ul class="attract-slider">
                    <li class="px-3"><img src="{% static 'webapp/images/cl-1.png'  %}" alt=""></li>
                    <li class="px-3"><img src="{% static 'webapp/images/cl-2.png'  %}" alt=""></li>
                    <li class="px-3"><img src="{% static 'webapp/images/cl-3.png'  %}" alt=""></li>
                    <li class="px-3"><img src="{% static 'webapp/images/cl-4.png'  %}" alt=""></li>
                    <li class="px-3"><img src="{% static 'webapp/images/cl-5.png'  %}" alt=""></li>
                    <li class="px-3"><img src="{% static 'webapp/images/cl-3.png'  %}" alt=""></li>
                    <li class="px-3"><img src="{% static 'webapp/images/cl-4.png'  %}" alt=""></li>
                    <li class="px-3"><img src="{% static 'webapp/images/cl-5.png'  %}" alt=""></li>
                </ul>
            </div>    
        </div>    
    </section>
    <!-- Discount action Ends -->

    <!-- Instagram starts -->
    <section class="insta-main pt-0">
        <div class="container">
            <div class="insta-inner">
            <div class="follow-button">
                <h5 class="m-0"><i class="fab fa-instagram"></i> Follow on Instagram</h5>
            </div>
            <div class="row attract-slider">
                <div class="col-md-3 col-sm-6">
                    <div class="insta-image">
                        <a href="gallery.html"><img src="{% static 'webapp/images/insta/ins-3.jpg'  %}" alt="insta"></a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="insta-image">
                        <a href="gallery.html"><img src="{% static 'webapp/images/insta/ins-4.jpg'  %}" alt="insta"></a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="insta-image">
                        <a href="gallery.html"><img src="{% static 'webapp/images/insta/ins-5.jpg'  %}" alt="insta"></a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="insta-image">
                        <a href="gallery.html"><img src="{% static 'webapp/images/insta/ins-1.jpg'  %}" alt="insta"></a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="insta-image">
                        <a href="gallery.html"><img src="{% static 'webapp/images/insta/ins-7.jpg'  %}" alt="insta"></a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="insta-image">
                        <a href="gallery.html"><img src="{% static 'webapp/images/insta/ins-8.jpg'  %}" alt="insta"></a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="insta-image">
                        <a href="gallery.html"><img src="{% static 'webapp/images/insta/ins-2.jpg'  %}" alt="insta"></a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="insta-image">
                        <a href="gallery.html"><img src="{% static 'webapp/images/insta/ins-6.jpg'  %}" alt="insta"></a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="insta-image">
                        <a href="gallery.html"><img src="{% static 'webapp/images/insta/ins-9.jpg'  %}" alt="insta"></a>
                    </div>
                </div>
            </div>
            </div>    
        </div>
    </section>
    <!-- Instagram ends -->

    <!-- content-line start -->
    <div class="content-line m-0">
        <div class="content-line-inner bg-theme2 pb-6 pt-6 p-5">
            <div class="container">
                <div class="row d-md-flex align-items-center justify-content-between text-lg-start text-center">
                <div class="col-lg-9">
                    <h2 class="mb-0 white">
                        Looking for a dream home?
                    </h2>
                    <p class="white">We can help you realize your dream of a new home</p>
                </div>
                <div class="col-lg-3">
                    <a href="listing-leftfilter.html" class="nir-btn-black float-lg-end float-none">Fine More Properties</a>
                </div>
                </div>
            </div>
        </div>   
    </div>
    <!-- content-line ends -->

{% endblock %}