
    <!-- BreadCrumb Starts -->  
    <section class="breadcrumb-main pb-0 pt-20" style="background-image: url(../../../webapp/static/webapp/images/bg/bg2.jpg);">
        <div class="breadcrumb-outer">
            <div class="container">
                <div class="breadcrumb-content d-md-flex align-items-center pt-6">
                    <h1 class="mb-0">Listing With Fullwidth</h1>
                    <nav aria-label="breadcrumb">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Listing With Fullwidth</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="dot-overlay"></div>
    </section>
    <!-- BreadCrumb Ends --> 

    <!-- blog starts -->
    <section class="blog">
        <div class="container">
            <div class="listing-main listing-main1 ps-5 pe-5">
                <form class="form-find d-lg-flex justify-content-between p-4 bg-grey borderall mb-4">
                    <div class="form-group me-2">
                        <div class="input-box">
                            <select class="niceSelect">
                                <option value="1">Locations</option>
                                <option value="2">Boston</option>
                                <option value="3">03</option>
                                <option value="4">Chicago</option>
                                <option value="5">Denver</option>
                            </select>
                        </div> 
                    </div>
                    <div class="form-group me-2">
                        <div class="input-box">
                            <select class="niceSelect">
                                <option value="1">All Types</option>
                                <option value="2">Apartment</option>
                                <option value="3">Villa</option>
                                <option value="4">Flat</option>
                                <option value="5">Rooms</option>
                                <option value="5">House</option>
                            </select>
                        </div> 
                    </div>
                    <div class="form-group me-2">
                        <div class="input-box">
                            <select class="niceSelect">
                                <option value="1">All Status</option>
                                <option value="2">For Rent</option>
                                <option value="3">For Sale</option>
                            </select>
                        </div> 
                    </div>
                    <div class="form-group me-2">
                        <div class="input-box">
                            <select class="niceSelect">
                                <option value="1">Bedrooms</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>  
                    </div>
                    <div class="form-group me-2">
                        <div class="input-box">
                            <select class="niceSelect">
                                <option value="1">Bathrooms</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>  
                    </div>
                    <div class="form-group text-center w-100">
                        <input type="submit" class="nir-btn w-100" id="submit3" value="Search">
                    </div>
                </form>
                <div class="listing-inner">
                    <div class="list-results d-flex align-items-center justify-content-between">
                        <div class="list-results-sort">
                            <p class="m-0">Showing 1-5 of 80 results</p>
                        </div>
                        <div class="click-menu d-flex align-items-center justify-content-between">
                            <div class="change-list f-active me-2"><a href="listing-leftfilter.html"><i class="fa fa-bars"></i></a></div>
                            <div class="change-grid me-2"><a href="grid-leftfilter.html"><i class="fa fa-th"></i></a></div>
                            <div class="sortby d-flex align-items-center justify-content-between ml-2">
                                <select class="niceSelect">
                                    <option value="1" >Sort By</option>
                                    <option value="2">Average rating</option>
                                    <option value="3">Price: low to high</option>
                                    <option value="4">Price: high to low</option>
                                </select> 
                            </div>
                        </div>
                    </div>
                    <div class="blog-full mb-4 border-b pb-4">
                        <div class="row">
                            <div class="col-lg-5 col-md-4">
                               <div class="blog-image">
                                    <a href="#" style="background-image: url(../../../webapp/static/webapp/images/trending/trending1.jpg);"></a>
                                </div> 
                            </div>
                            <div class="col-lg-7 col-md-8">
                                <div class="blog-content">
                                    <h5 class="theme mb-2">Villa</h5>
                                    
                                    <h3 class="mb-2"><a href="#" class="">7012 Shine Sehu Street, Liverpool London, LC345AC</a></h3>
                                    <div class="d-flex align-items-center justify-content-between border-b pb-1 mb-2">
                                        <div class="entry-price">
                                            Start From<span class="d-block theme fw-bold">$63,000.00</span>
                                        </div>
                                        <div class="entry-metalist d-flex align-items-center">
                                            <ul>
                                                <li class="me-2"><i class="fa fa-eye"></i></li>
                                                <li class="me-2"><i class="fa fa-heart"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <p class="mb-2">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>  
                                    <ul class="d-flex align-items-center justify-content-between bg-grey p-3 px-4">
                                        <li class="me-2"><i class="fa fa-eye"></i> 3 Beds</li>
                                        <li class="me-2"><i class="fa fa-heart"></i> 2 Baths</li>
                                        <li><i class="fa fa-comments"></i> 600 Sq Ft</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="blog-full mb-4 border-b pb-4">
                        <div class="row">
                            <div class="col-lg-5 col-md-4">
                               <div class="blog-image">
                                    <a href="#" style="background-image: url(../../../webapp/static/webapp/images/trending/trending5.jpg);"></a>
                                </div> 
                            </div>
                            <div class="col-lg-7 col-md-8">
                                <div class="blog-content">
                                    <h5 class="theme mb-2">Flat</h5>
                                    <h4><a href="detail-rightside.html">7012 Shine Sehu Street, Liverpool, LC345AC</a></h4>
                                    <div class="d-flex align-items-center justify-content-between border-b pb-1 mb-2">
                                        <div class="entry-price">
                                            Start From<span class="d-block theme fw-bold">$28,000.00</span>
                                        </div>
                                        <div class="entry-metalist d-flex align-items-center">
                                            <ul>
                                                <li class="me-2"><i class="fa fa-eye"></i></li>
                                                <li class="me-2"><i class="fa fa-heart"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <p class="mb-2">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>  
                                    <ul class="d-flex align-items-center justify-content-between bg-grey p-3 px-4">
                                        <li class="me-2"><i class="fa fa-eye"></i> 3 Beds</li>
                                        <li class="me-2"><i class="fa fa-heart"></i> 2 Baths</li>
                                        <li><i class="fa fa-comments"></i> 600 Sq Ft</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="blog-full mb-4 border-b pb-4">
                        <div class="row">
                            <div class="col-lg-5 col-md-4">
                               <div class="blog-image">
                                    <a href="#" style="background-image: url(../../../webapp/static/webapp/images/trending/trending5.jpg);"></a>
                                </div> 
                            </div>
                            <div class="col-lg-7 col-md-8">
                                <div class="blog-content">
                                    <h5 class="theme mb-2">Flat</h5>
                                    <h4><a href="detail-rightside.html">7012 Shine Sehu Street, Liverpool, LC345AC</a></h4>
                                    <div class="d-flex align-items-center justify-content-between border-b pb-1 mb-2">
                                        <div class="entry-price">
                                            Start From<span class="d-block theme fw-bold">$28,000.00</span>
                                        </div>
                                        <div class="entry-metalist d-flex align-items-center">
                                            <ul>
                                                <li class="me-2"><i class="fa fa-eye"></i></li>
                                                <li class="me-2"><i class="fa fa-heart"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <p class="mb-2">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>  
                                    <ul class="d-flex align-items-center justify-content-between bg-grey p-3 px-4">
                                        <li class="me-2"><i class="fa fa-eye"></i> 3 Beds</li>
                                        <li class="me-2"><i class="fa fa-heart"></i> 2 Baths</li>
                                        <li><i class="fa fa-comments"></i> 600 Sq Ft</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="blog-full mb-4 border-b pb-4">
                        <div class="row">
                            <div class="col-lg-5 col-md-4">
                               <div class="blog-image">
                                    <a href="#" style="background-image: url(../../../webapp/static/webapp/images/trending/trending7.jpg);"></a>
                                </div> 
                            </div>
                            <div class="col-lg-7 col-md-8">
                                <div class="blog-content">
                                    <h5 class="theme mb-2">Flat</h5>
                                    <h4><a href="detail-rightside.html">425 Vine 012 Street, Montreal Canada, UHW45Q</a></h4>
                                    <div class="d-flex align-items-center justify-content-between border-b pb-1 mb-2">
                                        <div class="entry-price">
                                            Start From<span class="d-block theme fw-bold">$31,000.00</span>
                                        </div>
                                        <div class="entry-metalist d-flex align-items-center">
                                            <ul>
                                                <li class="me-2"><i class="fa fa-eye"></i></li>
                                                <li class="me-2"><i class="fa fa-heart"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <p class="mb-2">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>  
                                    <ul class="d-flex align-items-center justify-content-between bg-grey p-3 px-4">
                                        <li class="me-2"><i class="fa fa-eye"></i> 3 Beds</li>
                                        <li class="me-2"><i class="fa fa-heart"></i> 2 Baths</li>
                                        <li><i class="fa fa-comments"></i> 600 Sq Ft</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-full mb-4 border-b pb-4">
                        <div class="row">
                            <div class="col-lg-5 col-md-4">
                               <div class="blog-image">
                                    <a href="#" style="background-image: url(../../../webapp/static/webapp/images/trending/trending5.jpg);"></a>
                                </div> 
                            </div>
                            <div class="col-lg-7 col-md-8">
                                <div class="blog-content">
                                    <h5 class="theme mb-2">Villa</h5>
                                    <h4><a href="detail-rightside.html">1244 Vansh Market, Mise Mizkel Australia, AU456HA</a></h4>
                                    <div class="d-flex align-items-center justify-content-between border-b pb-1 mb-2">
                                        <div class="entry-price">
                                            Start From<span class="d-block theme fw-bold">$48,000.00</span>
                                        </div>
                                        <div class="entry-metalist d-flex align-items-center">
                                            <ul>
                                                <li class="me-2"><i class="fa fa-eye"></i></li>
                                                <li class="me-2"><i class="fa fa-heart"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <p class="mb-2">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>  
                                    <ul class="d-flex align-items-center justify-content-between bg-grey p-3 px-4">
                                        <li class="me-2"><i class="fa fa-eye"></i> 3 Beds</li>
                                        <li class="me-2"><i class="fa fa-heart"></i> 2 Baths</li>
                                        <li><i class="fa fa-comments"></i> 600 Sq Ft</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-full mb-4 border-b pb-4">
                        <div class="row">
                            <div class="col-lg-5 col-md-4">
                               <div class="blog-image">
                                    <a href="#" style="background-image: url(../../../webapp/static/webapp/images/trending/trending8.jpg);"></a>
                                </div> 
                            </div>
                            <div class="col-lg-7 col-md-8">
                                <div class="blog-content">
                                    <h5 class="theme mb-2">Villa</h5>
                                    <h4><a href="detail-rightside.html">1244 Vansh Market, Mise Mizkel Australia, AU456HA</a></h4>
                                    <div class="d-flex align-items-center justify-content-between border-b pb-1 mb-2">
                                        <div class="entry-price">
                                            Start From<span class="d-block theme fw-bold">$48,000.00</span>
                                        </div>
                                        <div class="entry-metalist d-flex align-items-center">
                                            <ul>
                                                <li class="me-2"><i class="fa fa-eye"></i></li>
                                                <li class="me-2"><i class="fa fa-heart"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <p class="mb-2">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>  
                                    <ul class="d-flex align-items-center justify-content-between bg-grey p-3 px-4">
                                        <li class="me-2"><i class="fa fa-eye"></i> 3 Beds</li>
                                        <li class="me-2"><i class="fa fa-heart"></i> 2 Baths</li>
                                        <li><i class="fa fa-comments"></i> 600 Sq Ft</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-full mb-4 border-b pb-4">
                        <div class="row">
                            <div class="col-lg-5 col-md-4">
                               <div class="blog-image">
                                    <a href="#" style="background-image: url(../../../webapp/static/webapp/images/trending/trending6.jpg);"></a>
                                </div> 
                            </div>
                            <div class="col-lg-7 col-md-8">
                                <div class="blog-content">
                                    <h5 class="theme mb-2">Flat</h5>
                                    <h4><a href="detail-rightside.html">425 Vine 012 Street, Montreal Canada, UHW45Q</a></h4>
                                    <div class="d-flex align-items-center justify-content-between border-b pb-1 mb-2">
                                        <div class="entry-price">
                                            Start From<span class="d-block theme fw-bold">$32,000.00</span>
                                        </div>
                                        <div class="entry-metalist d-flex align-items-center">
                                            <ul>
                                                <li class="me-2"><i class="fa fa-eye"></i></li>
                                                <li class="me-2"><i class="fa fa-heart"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <p class="mb-2">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>  
                                    <ul class="d-flex align-items-center justify-content-between bg-grey p-3 px-4">
                                        <li class="me-2"><i class="fa fa-eye"></i> 3 Beds</li>
                                        <li class="me-2"><i class="fa fa-heart"></i> 2 Baths</li>
                                        <li><i class="fa fa-comments"></i> 600 Sq Ft</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="pagination-main text-center">
                        <ul class="pagination">
                            <li><a href="#"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- blog Ends -->  

    <!-- Discount action starts -->
    <section class="discount-action p-0">
        <div class="container">
            <div class="call-banner" style="background-image: url(../../../webapp/static/webapp/images/bg/bg1.jpg);">
                <div class="row d-flex align-items-center">
                    <div class="col-lg-6 col-md-8 p-0">
                        <div class="call-banner-inner bg-theme1">
                            <div class="trend-content-main">
                                <div class="trend-content p-5">
                                    <h5 class="mb-1 white">Wanna to Sell Or Rent??</h5>
                                    <h2 class="mb-4"><a href="#" class="white">Looking to Buy a New Property or Sell an Existing One?</a></h2>
                                    <div class="section-btns d-flex align-items-center">
                                        <a href="#" class="nir-btn me-4">Rent Properties <i class="fa fa-arrow-right white pl-1"></i></a>
                                        <a href="#" class="nir-btn">Buy Properties <i class="fa fa-arrow-right white pl-1"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>  
                    <div class="col-lg-6 col-md-4 p-0"></div> 
                </div> 
            </div> 
            <div class="partner-wrapper bg-grey p-4">
                <ul class="attract-slider">
                    <li class="px-3"><a href="#"><img src="{% static 'webapp/images/cl-1.png' %}" alt=""></a></li>
                    <li class="px-3"><a href="#"><img src="{% static 'webapp/images/cl-2.png' %}" alt=""></a></li>
                    <li class="px-3"><a href="#"><img src="{% static 'webapp/images/cl-3.png' %}" alt=""></a></li>
                    <li class="px-3"><a href="#"><img src="{% static 'webapp/images/cl-4.png' %}" alt=""></a></li>
                    <li class="px-3"><a href="#"><img src="{% static 'webapp/images/cl-5.png' %}" alt=""></a></li>
                    <li class="px-3"><a href="#"><img src="{% static 'webapp/images/cl-3.png' %}" alt=""></a></li>
                    <li class="px-3"><a href="#"><img src="{% static 'webapp/images/cl-4.png' %}" alt=""></a></li>
                    <li class="px-3"><a href="#"><img src="{% static 'webapp/images/cl-5.png' %}" alt=""></a></li>
                </ul>
            </div>    
        </div>    
    </section>
    <!-- Discount action Ends -->

    <!-- Instagram starts -->
    <section class="insta-main">
        <div class="container">
            <div class="insta-inner">
            <div class="follow-button">
                <h5 class="m-0"><i class="fab fa-instagram"></i> Follow on Instagram</h5>
            </div>
            <div class="row attract-slider">
                <div class="col-md-3 col-sm-6">
                    <div class="insta-image">
                        <a href="#"><img src="{% static 'webapp/images/insta/ins-3.jpg' %}" alt="insta"></a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="insta-image">
                        <a href="#"><img src="{% static 'webapp/images/insta/ins-4.jpg' %}" alt="insta"></a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="insta-image">
                        <a href="#"><img src="{% static 'webapp/images/insta/ins-5.jpg' %}" alt="insta"></a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="insta-image">
                        <a href="#"><img src="{% static 'webapp/images/insta/ins-1.jpg' %}" alt="insta"></a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="insta-image">
                        <a href="#"><img src="{% static 'webapp/images/insta/ins-7.jpg' %}" alt="insta"></a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="insta-image">
                        <a href="#"><img src="{% static 'webapp/images/insta/ins-8.jpg' %}" alt="insta"></a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="insta-image">
                        <a href="#"><img src="{% static 'webapp/images/insta/ins-2.jpg' %}" alt="insta"></a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="insta-image">
                        <a href="#"><img src="{% static 'webapp/images/insta/ins-6.jpg' %}" alt="insta"></a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="insta-image">
                        <a href="#"><img src="{% static 'webapp/images/insta/ins-9.jpg' %}" alt="insta"></a>
                    </div>
                </div>
            </div>
            </div>    
        </div>
    </section>
    <!-- Instagram ends -->

    <!-- content-line start -->
    <div class="content-line m-0">
        <div class="content-line-inner bg-theme2 pb-6 pt-6 p-5">
            <div class="container">
                <div class="row d-md-flex align-items-center justify-content-between text-lg-start text-center">
                <div class="col-lg-9">
                    <h2 class="mb-0 white">
                        Looking for a dream home?
                    </h2>
                    <p class="white">We can help you realize your dream of a new home</p>
                </div>
                <div class="col-lg-3">
                    <a href="" class="nir-btn-black float-lg-end float-none">Fine More Properties</a>
                </div>
                </div>
            </div>
        </div>   
    </div>
    <!-- content-line ends -->
    
    <!-- Back to top start -->
    <div id="back-to-top">
        <a href="#"></a>
    </div>
    <!-- Back to top ends -->

    <!-- search popup -->
    <div id="search1">
        <button type="button" class="close">×</button>
        <form>
            <input type="search" value="" placeholder="type keyword(s) here" />
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>

    <!-- login registration modal -->
    <div class="modal fade log-reg" id="exampleModal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <div class="post-tabs">
                <!-- tab navs -->
                <ul class="nav nav-tabs nav-pills nav-fill" id="postsTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button aria-controls="login" aria-selected="false" class="nav-link active" data-bs-target="#login" data-bs-toggle="tab" id="login-tab" role="tab" type="button">Login</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button aria-controls="register" aria-selected="true" class="nav-link" data-bs-target="#register" data-bs-toggle="tab" id="register-tab" role="tab" type="button">Register</button>
                    </li>
                </ul>
                <!-- tab contents -->
                <div class="tab-content blog-full" id="postsTabContent">
                    <!-- popular posts -->
                    <div aria-labelledby="login-tab" class="tab-pane fade active show" id="login" role="tabpanel">
                        <div class="row">
                            <div class="col-lg-6">
                               <div class="blog-image">
                                    <a href="#" style="background-image: url(../../../webapp/static/webapp/images/trending/trending5.jpg);"></a>
                                </div> 
                            </div>
                            <div class="col-lg-6">
                                <h4 class="text-center border-b pb-2">Login</h4>
                                <div class="log-reg-button d-flex align-items-center justify-content-between">
                                    <button type="submit" class="btn btn-fb">
                                        <i class="fab fa-facebook"></i> Login with Facebook
                                    </button>
                                    <button type="submit" class="btn btn-google">
                                        <i class="fab fa-google"></i> Login with Google
                                    </button>
                                </div>
                                <hr class="log-reg-hr position-relative my-4 overflow-visible">
                                <form method="post" action="#" name="contactform" id="contactform">
                                    <div class="form-group mb-2">
                                        <input type="text" name="user_name" class="form-control" id="fname" placeholder="User Name or Email Address">
                                    </div>
                                    <div class="form-group mb-2">
                                        <input type="password" name="password_name" class="form-control" id="lpass" placeholder="Password">
                                    </div>
                                    <div class="form-group mb-2">
                                        <input type="checkbox" class="custom-control-input" id="exampleCheck">
                                        <label class="custom-control-label mb-0" for="exampleCheck1">Remember me</label>
                                        <a class="float-end" href="#">Lost your password?</a>
                                    </div>
                                    <div class="comment-btn mb-2 pb-2 text-center border-b">
                                        <input type="submit" class="nir-btn w-100" id="submit" value="Login">
                                    </div>
                                    <p class="text-center">Don't have an account? <a href="#" class="theme">Register</a></p>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Recent posts -->
                    <div aria-labelledby="register-tab" class="tab-pane fade" id="register" role="tabpanel">
                        <div class="row">
                            <div class="col-lg-6">
                               <div class="blog-image">
                                    <a href="#" style="background-image: url(../../../webapp/static/webapp/images/trending/trending5.jpg);"></a>
                                </div> 
                            </div>
                            <div class="col-lg-6">
                                <h4 class="text-center border-b pb-2">Register</h4>
                                <div class="log-reg-button d-flex align-items-center justify-content-between">
                                    <button type="submit" class="btn btn-fb">
                                        <i class="fab fa-facebook"></i> Login with Facebook
                                    </button>
                                    <button type="submit" class="btn btn-google">
                                        <i class="fab fa-google"></i> Login with Google
                                    </button>
                                </div>
                                <hr class="log-reg-hr position-relative my-4 overflow-visible">
                                <form method="post" action="#" name="contactform1" id="contactform1">
                                    <div class="form-group mb-2">
                                        <input type="text" name="user_name" class="form-control" id="fname1" placeholder="User Name">
                                    </div>
                                    <div class="form-group mb-2">
                                        <input type="text" name="user_name" class="form-control" id="femail" placeholder="Email Address">
                                    </div>
                                    <div class="form-group mb-2">
                                        <input type="password" name="password_name" class="form-control" id="lpass1" placeholder="Password">
                                    </div>
                                    <div class="form-group mb-2">
                                        <input type="password" name="password_name" class="form-control" id="lrepass" placeholder="Re-enter Password">
                                    </div>
                                    <div class="form-group mb-2 d-flex">
                                        <input type="checkbox" class="custom-control-input" id="exampleCheck1">
                                        <label class="custom-control-label mb-0 ms-1 lh-1" for="exampleCheck1">I have read and accept the Terms and Privacy Policy?</label>
                                    </div>
                                    <div class="comment-btn mb-2 pb-2 text-center border-b">
                                        <input type="submit" class="nir-btn w-100" id="submit1" value="Register">
                                    </div>
                                    <p class="text-center">Already have an account? <a href="#" class="theme">Login</a></p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- header side menu --> 
    <div class="header_sidemenu">
        <div class="header_sidemenu_in">
            <div class="menu py-5 px-4">
                <div class="close-menu">
                    <i class="fa fa-times"></i>
                </div>
                 <div class="m-contentmain">
                    <div class="m-contentmain">
                        <div class="m-logo mb-5">
                            <img src="{% static 'webapp/images/logo.png' %}" alt="m-logo">
                        </div>

                        <div class="content-box mb-5">
                            <h3 class="">Get In Touch</h3>
                            <p class="mb-2">We must explain to you how all seds this mistakens idea off denouncing pleasures and praising pain was born and I will give you a completed accounts..</p>
                            <a href="#" class="nir-btn">Consultation</a>
                        </div>

                        <div class="contact-info1">
                            <h3 class="">Contact Info</h3>
                            <ul>
                                <li class="d-block mb-1"><i class="fa fa-map-marker-alt me-2"></i> Brozon Mall 26, Newyrok NY 10005</li>
                                <li class="d-block mb-1"><i class="fa fa-phone-alt me-2"></i>555 626-0234</li>
                                <li class="d-block mb-1"><i class="fa fa-envelope-open me-2"></i>support@realshield.com</li>
                                <li class="d-block"><i class="fa fa-clock me-2"></i> Open Time: 09.00 to 18.00</li>
                            </ul>
                        </div>
                    </div>
                </div>    
            </div>
            <div class="overlay hide"></div>
        </div>
    </div>
